@using GarangeInventory.Storage
@inject Data.DataService Data;


<label for="storage">Storage Unit</label>
<InputSelect @bind-Value="selectedSUID">
    @foreach (StorageUnit storage in Data.Storages)
    {
        <option value="@storage.ID">@storage.Name</option>
    }
</InputSelect>

@if (pickedStorageUnit != null)
{
   // pickedStorageUnit = FindStorageUnitByID(selectedSUID);
    <label for="shelfUnit">Shelf Unit</label>
    <InputSelect @bind-Value="selectedShelfUnitID">
        @foreach (ShelfUnit shelfUnit in pickedStorageUnit.ShelfUnits)
        {
            <option value="@shelfUnit.ID">@shelfUnit.Name</option>
        }
    </InputSelect>
}

<label for="shelf">Shelf</label>
<InputSelect @bind-Value="selectedShelfID">
    @foreach (ShelfUnit shelfUnit in pickedStorageUnit.ShelfUnits)
    {
        <option value="@shelfUnit.ID">@shelfUnit.Name</option>
    }
</InputSelect>



@code {

    [Parameter]
    public int selectedSUID { get; set; }
    [Parameter]
    public int selectedShelfUnitID { get; set; }
    [Parameter]
    public int selectedShelfID { get; set; }

    private StorageUnit pickedStorageUnit { get; set; }

    private void FindStorageUnitByID(int ID)
    {
         pickedStorageUnit = Data.Storages.FirstOrDefault(storage => storage.ID == selectedSUID);
    }
}
