@using GarangeInventory.Storage
@inject Data.DataService Data;

@if (Data.Storages != null)
{
    <label for="storage">Storage Unit</label>
    <InputSelect id="storage" @bind-Value="selectedSUID">
        <option value=""></option>
        @foreach (StorageUnit storage in Data.Storages)
        {
            <option value="@storage.ID">@storage.Name</option>
        }
    </InputSelect>
    pickedStorageUnit = Data.Storages.FirstOrDefault(storag => storag.ID == selectedSUID);
}

@if (pickedStorageUnit != null)
{
    <label for="shelfUnit">Shelf Unit</label>
    <InputSelect id="shelfUnit" @bind-Value="selectedShelfUnitID">
        @if (pickedStorageUnit != null)
        {
            <option></option>
            @foreach (ShelfUnit shelfUnit in pickedStorageUnit.ShelfUnits)
            {
                <option value="@shelfUnit.ID">@shelfUnit.Name</option>
            }
        }
        @pickedShelfUnit = @pickedStorageUnit.ShelfUnits.FirstOrDefault(ShelfU => ShelfU.ID == selectedShelfUnitID);
    </InputSelect>
}

@if (pickedShelfUnit != null)
{
    <label for="shelf">Shelf</label>
    <InputSelect id="shelf" @bind-Value="selectedShelfID">
        @if (pickedShelfUnit != null)
        {
            <option></option>
            @foreach (Shelf shelf in pickedShelfUnit.Shelfs)
            {
                <option value="@shelf.ID">@shelf.Name</option>
            }
        }
    </InputSelect>
}

@if (pickedShelfUnit != null)
{
    pickedShelf = pickedShelfUnit.Shelfs.FirstOrDefault(Shelf => Shelf.ID == selectedShelfID);
    <label for="box">Box</label>
    <InputSelect id="box" @bind-Value="selectedBoxID">
        @if (pickedShelf != null)
        {
            <option></option>
            @foreach (Box box in pickedShelf.Boxes)
            {
                <option value="@box.ID">@box.Name</option>
            }
        }
    </InputSelect>
}






@code {

    [Parameter]
    public int selectedSUID { get; set; }
    [Parameter]
    public int selectedShelfUnitID { get; set; }
    [Parameter]
    public int selectedShelfID { get; set; }
    [Parameter]
    public int selectedBoxID { get; set; }

    private StorageUnit pickedStorageUnit { get; set; }
    private ShelfUnit pickedShelfUnit { get; set; }
    private Shelf pickedShelf { get; set; }






}
