@page "/storage/{iD:int}"
@inject Data.DataService Data
@using GarangeInventory.Storage
@using GarangeInventory.Storage.Shelf
@using Microsoft.AspNetCore.Components.QuickGrid


<PageTitle>Storage</PageTitle>

<h3>Storage: @DisplayStorageName() </h3>

<QuickGrid Items="@ShelfUnitQueryable()">
    <PropertyColumn Property="@(shelfUnitPicturePath => shelfUnitPicturePath.PicturePath)" Title="Picture" Sortable="true" />
    <PropertyColumn Property="@(shelfUnitsdkjah => shelfUnitsdkjah.Name)" Sortable="true" />
    <PropertyColumn Property="@(shelfUnit => string.Join(", ", shelfUnit.Shelfs.Select(shelf => shelf.Name)))" Title="Shelf" />
    <PropertyColumn Property="@(shelfUnit => string.Join(", ", shelfUnit.Items.Select(dontknow => dontknow.Name)))" Title="Items" />
</QuickGrid>


<QuickGrid Items="@GetItems(new List<StorageUnit>())">
    <PropertyColumn Property="@(i => i.Name)" Title="Picture" Sortable="true" />
    <TemplateColumn Title="ShelfUnit Name">
        @GetShelfUnit(context).Name  <a href="/shelfdetail?@GetShelfUnit(context).Name">Go To this shelf</a>
    </TemplateColumn>
</QuickGrid>



@code {
    [Parameter]
    public int ID { get; set; }

    private IQueryable<ShelfUnit> ShelfUnitQueryable()
    {
        var queryableShelfUnit = Data.Storages
        .Where(storages => storages.ID == ID)
        .SelectMany(sbyt => sbyt.ShelfUnits)
        .AsQueryable();
        return queryableShelfUnit;
    }

    private string DisplayStorageName()
    {
        string storageNam = "No storage Unit avaialble.";
        foreach (StorageUnit storageUnit in Data.Storages.Where(storages => storages.ID == ID))
        {
            return storageUnit.Name;
        }
        return storageNam;
    }

    private ShelfUnit GetShelfUnit(Item itemToBeFound)
    {
        List<Item> result = new List<Item>();
        foreach (StorageUnit storage in Data.Storages)
        {
            foreach (ShelfUnit shelfUnit in storage.ShelfUnits)
            {
                if (shelfUnit.Items.FirstOrDefault(i => i == itemToBeFound) != null)
                    return shelfUnit;

                foreach (Shelf shelf in shelfUnit.Shelfs)
                {
                    if (shelf.Items.FirstOrDefault(i => i == itemToBeFound) != null)
                        return shelfUnit;
                    foreach (Box box in shelf.Boxes)
                    {
                        if (box.Items.FirstOrDefault(i => i == itemToBeFound) != null)
                            return shelfUnit;
                    }
                }
                foreach (Box box in shelfUnit.Boxes)
                {
                    if (box.Items.FirstOrDefault(i => i == itemToBeFound) != null)
                        return shelfUnit;
                }
            }
        }
        return null;
    }

    private IQueryable<Item> GetItems(List<StorageUnit> storages)
    {
        List<Item> result = new List<Item>();
        foreach (StorageUnit storage in storages)
        {
            foreach (ShelfUnit shelfUnit in storage.ShelfUnits)
            {
                result.AddRange((shelfUnit.Items));
                foreach (Shelf shelf in shelfUnit.Shelfs)
                {
                    result.AddRange((shelf.Items));
                    foreach (Box box in shelf.Boxes)
                    {
                        result.AddRange((box.Items));
                    }
                }
                foreach (Box box in shelfUnit.Boxes)
                {
                    result.AddRange((box.Items));
                }
            }
        }

        return result.AsQueryable();
    }
}
